{% extends "account_base.html" %}

{% block content %}
<div class="container">
    <div class="row " style="height: 50rem;">
        <div class="col"></div>
      <div class="col-4 align-self-center">
          <div class="card card-login">
              <div class="card text-center">
                <div class="card-header bg-secondary text-white">
                  Login
                </div>
                <div class="card-body">
                  <form method="post" action="{% url 'login' %}">
                    <div class="form-group">
                      {% csrf_token %}
                      {% if form.errors %}
                      {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                        {{error}}
                      </div>
                      {% endfor %}
                      {% endif %}
                      <p>
                        <div class="float-left">{{ form.username.label_tag }}</div>
                        {{ form.username }}
                      </p>
                      <p>
                        <div class="float-left">{{ form.password.label_tag }}</div>
                        {{ form.password }}
                      </p>
                      <p>
                        <input type="submit" class="btn btn-primary" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
{% endblock %}
