{% extends "base_generic.html" %}
{% block content %}
<div class="row " style="height: 40rem;">
    <div class="col"></div>
    <div class="col-8 align-self-center">
        <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-warning">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
            <div class="card" style="width: 36rem;">
                <h5 class="card-header">{% if domain %}{{domain.name}}{% else %}New domain(s){% endif %}</h5>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                            {% for field in form %}
                            <tr>
                                {% if field.errors %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                <td>{{ field.label }}</td>
                                <td>{{ field }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-body">
                    <div class="float-right">
                        <input type="submit" class="btn btn-outline-primary" value="Ok" />
                        <input action="action" class="btn btn-outline-success" onclick=
                        {% if domain %}"location.href='{{ domain.get_absolute_url }}'"
                        {% else  %}"location.href='{% url 'domains' %}'"
                        {% endif %}
                            type="button" value="Cancel" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col"></div>
  </div>
{% endblock %}
