{% extends "base_generic.html" %}

{% block content %}




<div class="row " style="height: 50rem;">
    <div class="col"></div>
    <div class="col-6 align-self-center">
        <h2>Delete domain</h2>

        <p>Are you sure you want to delete the domain: {{ domain }}?</p>

        <form action="" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn btn-outline-danger" action="" value="Delete" />
          <input action="action" class="btn btn-outline-success" onclick="location.href='{{ domain.get_absolute_url }}'" value="Cancel" />
        </form>
    </div>
    <div class="col"></div>
  </div>




{% endblock %}
