{% extends "base_generic.html" %}


{% block content %}
<div class="row " style="height: 40rem;">
    <div class="col"></div>
    <div class="col-6 align-self-center">
        <form action="" method="post">
            {% csrf_token %}
            {% if form.errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
            <div class="card">
                <h5 class="card-header">{{domain.name}}</h5>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                            {% for field in form %}
                            <tr>
                                {% if field.errors %}
                                {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                <td>{{ field.label }}</td>
                                <td>{{ field }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-body">
                    <div class="float-right">
                        <input type="submit" class="btn btn-outline-danger" value="Ban" />
                        <input action="action" class="btn btn-outline-success" onclick="location.href='{{ domain.get_absolute_url }}'" value="Cancel" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}
