{% extends "base_generic.html" %}


{% block content %}
<div class="row " style="height: 40rem;">
  <div class="col"></div>
  <div class="col-8 align-self-center">
    <div class="card" style="width: 36rem;">
      <h5 class="card-header">{{domain.name}}</h5>
      <div class="card-body">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>State</td>
              <td>{{ domain.get_state_display }}</td>
            </tr>
            <tr>
              <td>Use date</td>
              <td>{{ domain.use_date }}</td>
            </tr>
            <tr>
              <td>Ban date</td>
              <td>{{ domain.ban_date }}</td>
            </tr>
            <tr>
              <td>replaced by</td>
              <td>{{ domain.new_domain }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-body">
        <div class="float-right">
          {% if domain.state == 5 %}
          <a class="btn btn-outline-danger disabled" href="{% url 'domain-ban' domain.id %}" role="button">Ban</a>
          {% elif perms.domains.ban %}
          <a class="btn btn-outline-danger" href="{% url 'domain-ban' domain.id %}" role="button">Ban</a>
          {% endif %}
          {% if perms.domains.can_change_domain %}
          <a class="btn btn-outline-primary" href="{% url 'domain-update' domain.id %}" role="button">Change</a>
          {% endif %}
          {% if perms.domains.can_delete_domain %}
          <a class="btn btn-outline-danger" href="{% url 'domain-delete' domain.id %}?next={{ request.path|urlencode }}"
            role="button">Delete</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
{% endblock %}
