{% extends "base_generic.html" %}

{% block content %}
<div class="row py-5">
  <div class="col">
    <h4>Domains list</h4>
  </div>
  <div class="col-4 float-right">
    <form class="form-inline" method="GET" action="">
      <div class="form-group mx-sm-3 mb-2">
        <label for="domain-search" class="sr-only">Search domain</label>
        <input type="text" class="form-control" id="domain-search" name="q" placeholder="">
      </div>
      <button type="submit" class="btn btn-success mb-2">Search</button>
    </form>
  </div>
</div>
<div class="row" style="min-height: 36rem;">
  <div class="col">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">State</th>
          <th scope="col">Used</th>
          <th scope="col">Banned</th>
          <th scope="col">Replaced by</th>
        </tr>
      </thead>
      <tbody>
        {% for domain in domain_list %}
        <tr>
          <td><a href="{{ domain.get_absolute_url }}">{{ domain.name }}</a></td>
          <td>{{ domain.get_state_display }}</td>
          <td>{{ domain.use_date }}</td>
          <td>{{ domain.ban_date }}</td>
          <td>
            {% if domain.new_domain %}
            <a href="{{ domain.new_domain.get_absolute_url }}">{{ domain.new_domain }}</a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="row align-items-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      {% if domain_list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">First</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="?page={{ domain_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">First</span>
        </a>
      </li>
      <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
      {% endif %}
      {% for page in domain_list.paginator.page_range %}
      {% if page == domain_list.number %}
      <li class="page-item active"><a class="page-link" href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page }}</a></li>
      {%  else %}
      <li class="page-item"><a class="page-link" href="?page={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}
      {% if domain_list.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ domain_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ domain_list.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Last</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="">Next</a>
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Last</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
