{% extends "base_generic.html" %}
{% block content %}

    <h1>Domain: {{domain.name}}</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
