{% extends 'base_generic.html' %}

{% block title %}<title>Domains list</title>{% endblock %}
<div class="row justify-content-md-center">
        <div class="col-md-auto">
{% block content %}
<div class="row">
        <div class="col">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>

{% endblock %}
</div>
</div>
