{% extends 'base_generic.html' %}

{% block title %}<title>Domains search</title>{% endblock %}
{% block content %}
<div class="row " style="height: 40rem;">
    <div class="col"></div>
    <div class="col-6 align-self-center">
        {% if error %}
        <div class="alert alert-warning" role="alert">
            {{ error }}
          </div>
        {% endif %}
          <form class="form-inline" method="GET" action="">
                  <div class="form-group mx-sm-3 mb-2">
                      <label for="domain-search" class="sr-only">Search domain</label>
                      <input type="text" class="form-control" id="domain-search" name="q" placeholder="Enter full domain name">
                  </div>
                  <button type="submit" class="btn btn-success mb-2">Search</button>
              </form>
    </div>
    <div class="col"></div>
  </div>
{% endblock %}
